<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staffapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.StaffApp">
        <activity android:name=".OrderPopUp"
            android:theme="@style/popup_trans"/>
        <activity
            android:name=".Order"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".ScheduleTakeShift"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".ScheduleSwapShift"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".ScheduleGetSpecific"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".Reservation"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".Schedule"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity
            android:name=".Specifics"
            android:exported="false"
            android:configChanges="orientation"/>
        <activity

            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>